body, html {

  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  height: 100%;
}

/* =======GLOBAL STRUCTURE====== */

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.header {
  font-weight: 700;
  background: url("/images/decor/homepage-shapes/full-shapes.png") 100% -50% / cover no-repeat, var(--btn-gradient, linear-gradient(45deg, rgb(255, 63, 58, 0.2) 0%, rgb(247, 94, 5, 0.2) 100%));
  display: flex;
  flex-direction: column;
}

.main {
  overflow: hidden;
  flex: 1 1 auto;
}

.container {
  height: 100%;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 52px;
  font-weight: 700;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  white-space: nowrap;
  transform: scale(1.0);
  transition: all ease 0.3s;
}

.button--empty {
  color: #F75E05;
  line-height: 52px;
  font-size: 16px;
  display: inline-block;
  padding: 0 40px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #F75E05;
  transform: scale(1.0);
  transition: all ease 0.3s;
  white-space: nowrap;

}

.pagename {
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;

}

.heading {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 48px;
  max-width: 600px;
}

/* =====HEADER====== */

.button:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}

.button--empty:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}

.logo {
  transform: scale(1.0);
  transition: all, ease, 0.3s;
}

.logo:hover {
  transform: scale(1.2);
  transition: all, ease, 0.3s;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

/* ======HEADER-NAV====== */

.header__nav {
  margin-right: auto;

}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.6;
  color: #424551;
  transition: all, 0.3s;
}

.header__nav-link:hover {
  color: #FF3F3A;
  transform: scale(1.1);

}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-left: 40px;
  margin-right: 36px;
}


.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  background: url("../images/icons/Profile.svg") no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header__user-nav::before:hover {
  transform: scale(1.1);
}


.header__user-btn {
  transition: all 0.3s;
  line-height: 1.6;
  white-space: nowrap;
  display: inline-block;
  color: var(--gray-800, #424551);
}

.header__user-btn:hover {
  color: #FF3F3A;
  transform: scale(1.1);
}



.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ===========HEADER-MAIN========= */

.header__main {
  margin: 74px 0 74px 0;
  color: #1E212C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  white-space: nowrap;
}

.header__play-img {
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(255, 63, 58, 0.12);
  transition: all .3s;
}

.header__play-img:hover {
  box-shadow: 0 0 0 16px rgb(255, 63, 58, 0.12);
  transform: scale(1.1);
  transition: all .3s;
}


.header__title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 1;
  line-height: 1.3;
  color: #1E212C;
  margin-bottom: 60px;
  margin-right: auto;
  max-width: 500px;

}

.header__content-buttons {
  display: flex;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0px;
}

.header__row {
  margin-bottom: 80px;
}

.header__row-list {
  color: #1E212C;
  display: flex;
  justify-content: space-between;
  align-items: center;

  white-space: nowrap;
}

.header__row-list>span {
  width: 8px;
  height: 8px;
  background: #FF3F3A;
  border-radius: 50%;
  margin: 15px 0;
}


.header__row-item {
  display: flex;
  align-items: center;

}

.header__row-item:last-child {
  margin-right: 0;

}

.header__row-item span {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  margin-right: 12px;
}

/* ======ABOUT====== */

.about {
  padding: 180px 0 160px;
}

.about__heading-inner {
  display: flex;
  margin-bottom: 180px;
  position: relative;
}

.about__heading-inner::after {
  position: absolute;
  top: -80px;
  right: -140px;
  content: "";
  width: 100px;
  height: 85px;
  background: url("/images/decor/shapes-about-us/shapes-about-us-above.svg") no-repeat;
}

.about__heading-text {
  margin-right: auto;
}

.about__heading-pagename {
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about__heading-title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 48px;
  max-width: 600px;
}

.about__heading-subtitle {
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
  max-width: 600px;
}

.about__heading-subtitle--2 {
  color: var(--gray-800, #424551);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 60px;
  max-width: 600px;
}

.about__heading-btn-box {
  display: flex;
  white-space: nowrap;
}

.about__heading-btn {
  margin-right: 24px;
}

.about__heading-btn:last-child {
  margin-right: 0px;
}

/* =========ABOUT-STATS========= */

.about__stats {
  display: flex;
  justify-content: space-between;
}

.about__stats-image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.about__stats-row {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-self: center;
}

.about__stats-row-item {
  display: flex;
  align-items: center;
  color: var(--gray-900, #1E212C);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
}

.about__stats-row-item:last-child {
  margin-bottom: 0;
}

.about__stats-row-value {
  color: #FF3F3A;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-right: 16px;
}



/* =========MAIN-DIRECTIONS========== */

.main-directions {}

.main-directions__inner {}

.main-directions__heading {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-directions__body {}

.main-directions__filter-box {
  display: flex;
  align-items: center;
}

.main-directions__filter-item {
  margin-right: 45px;

}

.main-directions__filter-item:last-child {
  margin-right: 0;

}


.directions__filter-btn {
  color: var(--gray-600, #9A9CA5);
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  border-radius: 4px;
  border: 1px solid #9A9CA5;
  padding: 0 8px;
  margin-bottom: 56px;
}

.directions__filter-btn--active {
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%));
  color: #FFF;
  border: 0;
  padding: 1px 8px;
}

.main-directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;

}

.main-directions__list-item {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--gray-300, #E5E8ED);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.main-directions__list-link{

}


.main-directions__image-box img {
  width: 100%;
  height: 100%;

}

.directions__link-content {
  padding: 24px;


}

.directions__link-tag {
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 21px;

}

/* ========MAIN-DIRECTIONS-TAG-COLOROS========== */

.tag--green {

  border-radius: 4px;
  background: var(--success, #03CEA4);
  display: inline-flex;
  padding: 1px 8px;
}

.tag--blue {
  border-radius: 4px;
  background: var(--info, #5A87FC);
  display: inline-block;
  padding: 1px 8px;
}

.tag--orange {
  border-radius: 4px;
  background: var(--warning, #F89828);
  display: inline-block;
  padding: 1px 8px;
}

.tag--pink {
  border-radius: 4px;
  background: #F52F6E;
  display: inline-block;
  padding: 1px 8px;
}

.tag--purple {
  border-radius: 4px;
  background: #7772F1;
  display: inline-block;
  padding: 1px 8px;
}


.directions__link-text {
  color: var(--gray-700, #787A80);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
}

.directions__link-btn{
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  display: flex;
  transition: all .3s;
}

.directions__link-btn:hover .main-directions__list-item{
  color: #FF3F3A;
  transition: all .3s;
}

.directions__link-btn:hover .main-directions__list-item{
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: all .3s;
}

.directions__link-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icons/stroke-right.svg") 0 8px / 80% no-repeat;
  margin-left: 11px;
}


.main-directions__list-item--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-200, #F4F5F6);
  border-radius: 4px;
  box-sizing: border-box;

}

.main-directions__empty-item {

  color: var(--gray-800, #424551);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  max-width: 242px;
  box-sizing: border-box;
}